/*Links for color: https://htmlcolorcodes.com/ */

	html{
		font-family: Arial;
	}
	body {
	  background-color: #000000
	}
	h1 {
	/*Font size and font determine here for h1*/
	  font-size: 25px;
	  color: orange;
	  font-weight: normal;
	}
	p, ul{
	/*Font size and font determine here for all paragraph tags*/
		color: orange;
	  font-size: 18px;
		font-family: "Arial Black", Gadget, sans-serif;
	  font-weight: normal;
	  line-height: 25px;
	}
	.classname{
		/*this tells css that whenever it encounters that .classname,
		perform these changes.*/
	}
	a {
		/*changes all <a> tags*/
		/*text-decoration: none;*/
		color: #00FF00
	}
	.email, .list{
		text-decoration: none;
		color: #00FF00
	}

	.Background {
		/*background paragraph*/
	}
