/*Links for color: https://htmlcolorcodes.com/ */

	body {
	  background-color: #48c9b0
	}
	
	h1 {
	/*Font size and font determine here for h1*/
	  font-size: 25px;
	  font-family: Verdana;
	}


	p {
	/*Font size and font determine here for all paragraph tags*/
	  font-family: Arial;
	  font-size: 18px
	}
