/*Links for color: https://htmlcolorcodes.com/

*/

body {
  background-color: #48c9b0
}

h1,h2,h3,h4{
/*Font size and font determine here for all heading*/
  font-size: 18px;
  font-family: Verdana;
}


p1, p2,p3 {
/*Font size and font determine here for all paragraph*/
  font-family: Arial;
  font-size: 12px
}
